scipy
numpy
matplotlib
opencv-python
torch==1.13.1
tensorrt
diffusers
transformers
accelerate
onnx==1.13.1
onnxruntime
optimum
nvidia-pyindex
polygraphy
onnx_graphsurgeon
cuda-python
nvtx
accelerate
colored
cuda-python